@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --primary-bg-color: #eee;
    --secondry-bg-color: #fff;
    --primary-text-color: rgb(0, 0, 0);
    --secondry-text-color: rgb(75, 75, 75);
}

body.active {
    --primary-bg-color: #000;
    --secondry-bg-color: rgb(75, 75, 75);
    --primary-text-color: #fff;
    --secondry-text-color: #efefef;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primary-bg-color);
}

.container {
    /* background-color: aqua; */
    padding: 0.2rem;
    height: 100vh;   
}

/* .theme-icon {
    text-align: right;
    margin: 10px;
} */

i#theme-icon {
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0 15px 5px;
    box-shadow: 0px 3px 10px rgb(146, 146, 146);
    cursor: pointer;
    background-color: var(--secondry-bg-color);
    color: var(--primary-text-color);
}
/* 
.theme-icon i.fa-solid.fa-sun {
    background-color: black;
    color: white;    
}

.theme-icon i.fa-solid.fa-moon {
    background-color: var(--secondry-bg-color);
    color: var(--primary-text-color);    
} */

div.content {
    padding: 0.5rem;
    /* background-color: blueviolet; */
}

div.content p {
    padding: 10px;
    background-color: var(--secondry-bg-color);
   color: var(--secondry-text-color);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 20px rgb(95, 95, 95);
}
