@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: aliceblue;
}

.container {
    /* background-color: aqua; */
    padding: 0.2rem;
    height: 100vh;   
}

.theme-icon {
    text-align: right;
    margin: 10px;
}

.theme-icon i {
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 3px 10px rgb(168, 168, 168);
    cursor: pointer;
}

.theme-icon i.fa-solid.fa-sun {
    background-color: black;
    color: white;    
}

.theme-icon i.fa-solid.fa-moon {
    background-color: white;
    color: black;    
}

div.content {
    padding: 0.5rem;
    /* background-color: blueviolet; */
}

div.content p {
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 20px rgb(155, 155, 155);
}
